{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Auction Web</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'logo.png' %}"/>
  <style>
body{
                background-image:  url({% static 'Images/s_bg.jpg' %});
                background-repeat:no-repeat;
                background-attachment: fixed;
                background-size: cover;
                font-family:'Roboto',sans-serif;
                color: #3e3e3e;
                padding: 50px 0;
            }
            </style>

</head>
<body>
    <div>
        <h1>{{ title }}</h1>
{% if auction_list %}
    <div class="wrapper">
    {% for auction in auction_list %}
        <a class="auction-card" href="{% url 'auctions:detail' auction.id %}">
            <div><img class="auction_image_index" src="{{ auction.image.url }}"></div>
            <div class="auction-card-title">{{ auction.title }}</div>
            {% if auction.is_active %}
                {% if auction.remaining_minutes < 2 %}
                    <div class="auction-card-urgent">Less than {{ auction.remaining_minutes }}m</div>
                {% else %}
                    <div class="auction-card-active">Less than {{ auction.remaining_minutes }}m</div>
                {% endif %}
            {% else %}
            <div class="auction-card-inactive">Expired</div>
            {% endif %}
            <div class="auction-card-value">{{ auction.min_value }}$</div>
        </a>
        <!-- <li class="auction-card"><a href="{% url 'auctions:detail' auction.id %}">{{ auction.title }}</a></li> -->
    {% endfor %}
    </div>
{% else %}
    <h4>No auctions are available.</h4>
{% endif %}

    </div>
      {% block sidebar %}
        <ul class="navbar">
          <li class="navbar-item"><a class="navbar-link" href="{% url 'auctions:auctions' %}">Home</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{% url 'index' %}">Active auction</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{% url 'auctions:auctions' %}">All auction</a></li>
          {% if user.is_authenticated %}
          <li class="navbar-item"><a class="navbar-link" href="{% url 'my_auctions' %}">My auctions</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{% url 'my_bids' %}">My bids</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{% url 'auctions:create' %}">Create an auction</a> </li>
          {% endif %}
          {% if user.is_authenticated %}
            <li class="navbar-item-right"><a class="navbar-link" href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
            <li class="navbar-item-right"><span class="navbar-text"><span class="username">Hello {{ user.get_username }}</span></span></li>
          {% else %}
            <li class="navbar-item-right"><a class="navbar-link" href="{% url 'login' %}">Login</a></li>
            <li class="navbar-item-right"><a class="navbar-link" href="{% url 'register' %}">Register</a></li>
          {% endif %}
        </ul>
     {% endblock %}
      <div class="main-content">{% block content %}{% endblock %}</div>
</body>
</html>






